<html>
<head>
    <title>Netflex</title>
    <link rel="stylesheet" href="style/menu.css">
    <link id="style" rel="stylesheet" href="">
    <link rel="stylesheet" href="style/loader.css">
    <meta charset="UTF-8">
</head>

<body>
    <div class="loader" id="loader">
        <div class="circle circle-1"></div>
        <div class="circle circle-2"></div>
        <div class="circle circle-3"></div>
        <div class="circle circle-4"></div>
        <div class="circle circle-5"></div>
    </div>

    <!-- menu -->
    <div class="menu" id="menu">
        <span class="menu-circle"></span>
        <a id="menu-toggle" class="menu-link">
          <span class="menu-icon">
            <span class="menu-line menu-line-1"></span>
            <span class="menu-line menu-line-2"></span>
            <span class="menu-line menu-line-3"></span>
          </span>
        </a>
    </div>

    <div class="menu-overlay" id="menu-overlay">
            <div class="login">
                <div class="entrance">
                    <h1 id="auth-header">Вход</h1>

                    <div class="creature" id="creature">
                        <div class="noaccount" id="auth-header-kind" style="margin-right: 5px;">У вас ещё нет аккаунта?</div>
                        <div class="create"><a id="create">Создать</a></div>
                    </div>

                    <input class="e-mail" id="e-mail"><p>E-mail или телефон</p></input>
                    <input class="password" id="password"> <p>Пароль</p></input>
                    <input class="confirmation" id="confirmation"><p>Подтвердите пароль</p></input>

                    <button class="enter" id="enter"><p id="auth-txt">Вход</p></button>
                </div>
            </div>
            <div class="menus">
                <div class="1"><a href="#theory">Теория</a></div>
                <div class="2"><a href="#practice">Практика</a></div>
            </div>
    </div>
    <!-- page content -->
    <div id="root"> </div>
</body>
    <script src="js/lib/socket.io.js"></script>

    <script type="module" src="js/index.js"></script>
</html>

