<html>
<head>
    <title>Netflex</title>
    <link rel="stylesheet" href="style/menu.css">
    <link id="style" rel="stylesheet" href="">
    <link rel="stylesheet" href="style/loader.css">
    <meta charset="UTF-8">
</head>

<body>
    <div class="loader" id="loader">
        <div class="circle circle-1"></div>
        <div class="circle circle-2"></div>
        <div class="circle circle-3"></div>
        <div class="circle circle-4"></div>
        <div class="circle circle-5"></div>
    </div>

    <!-- menu -->
    <div class="menu" id="menu">
        <span class="menu-circle"></span>
        <a id="menu-toggle" class="menu-link">
          <span class="menu-icon">
            <span class="menu-line menu-line-1"></span>
            <span class="menu-line menu-line-2"></span>
            <span class="menu-line menu-line-3"></span>
          </span>
        </a>
    </div>

    <div class="menu-overlay" id="menu-overlay">
        <a href="#theory">Теория</a>
        <a href="#practice">Практика</a>
    </div>
    <!-- page content -->
    <div id="root"> </div>
</body>
    <script src="js/lib/socket.io.js"></script>

    <script type="module" src="js/index.js"></script>
</html>

