<div class="content">
    <div class="header"><h1>Достижения</h1></div>
    <div class="container">
        <div class="progress">
            <div class="first-ticket">
                <div class="first-ticketImg"><img src="img/icons8-приз-24.png"></div>
                <div class="first-tickets">Решен первый билет</div>
                <div class="first-ticket-complete"><img src="img/icons8-галочка-24.png"></div>
            </div>
            <div class="first-sign">
                <div class="first-signImg"><img src="img/icons8-приз-24.png"></div>
                <div class="first-signs">Отсканирован первый знак</div>
                <div class="first-sign-complete"><img src="img/icons8-галочка-24.png"></div>
            </div>
            <div class="all-ticket">
                <div class="all-ticketImg"><img src="img/icons8-приз-24.png"></div>
                <div class="all-tickets">Решены все билеты</div>
                <div class="all-ticket-complete"><img src="img/icons8-галочка-24.png"></div>
            </div>
            <div class="all-sign">
                <div class="all-signImg"><img src="img/icons8-приз-24.png"></div>
                <div class="all-signs">Отсканированы все знаки</div>
                <div class="all-sign-complete"><img src="img/icons8-галочка-24.png"></div>
            </div>
            <div class="exam">
                <div class="examImg"><img src="img/icons8-приз-24.png"></div>
                <div class="exams">Решен экзамен</div>
                <div class="exam-complete"><img src="img/icons8-галочка-24.png"></div>
            </div>
            <div class="line1"></div>
            <div class="theory">
                <div class="theory-progress">Пройдено тем теории</div>
                <div class="theory-num">0/26</div>
            </div>
            <div class="line2"></div>
            <div class="ticket">
                <div class="ticket-progress">Решено билетов</div>
                <div class="ticket-num">0/40</div>
            </div>
            <div class="line3"></div>
            <div class="scan">
                <div class="scan-progress">Отсканировано знаков</div>
                <div class="scan-num">0/...</div>
            </div>
        </div>
        <div class="charts">
            <div id="chart1" class="graf"></div>
            <div id="chart2" class="graf"></div>
            <div id="chart3" class="graf"></div>
        </div>
    </div>
</div>
<script src="js/progress/progress.js"></script>