<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style/task.css">
    <title>Task</title>
</head>
<body>
    <div class="content">
        <div class="number">1/20</div>

        <div class="timer">
            <div class="clock" style="background-image: url(img/time.png)"></div>
            <div class="time">00:00</div>
        </div>

        <div class="container">
            <div class="tasks">
                <div class="task">
                    <div class="task-img" style="background-image: url(img/test.png)"></div>
                    <div class="question">Можно ли Вам остановиться в указанном месте для посадки пассажира?</div>
                </div>

                <div class="help">
                    <div class="prompt"><a href="">Подсказка</a></div>

                    <div class="comment">
                        <div class="comment-img" style="background-image: url(img/comment.png)"></div>
                        <div class="comments"><a href="">Комментариев: 0</a></div>
                    </div>
                </div>
            </div>

            <div class="line"></div>

            <div class="answer">
                <div class="options">
                    <div class="option"><a href="">1. Можно</a></div>
                    <div class="option"><a href="">2. Можно, если вы управляете таки</a></div>
                    <div class="option"><a href="">3. Нельзя</a></div>
                </div>

                <div class="support">
                    <div class="center">
                        <div class="clarification">Правильный ответ: 1</div>
                        <div class="explanation">Знак 3.28 «Стоянка запрещена» не запрещает производить остановку. В указанном месте Вам совершить остановку можно.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>