<div class="content" id="content">
    <div class="header">
        <div class="timer">
            <div id="questionNumber" class="number"></div>
            <div class="clock" style="background-image: url(img/time.png)"></div>
            <div class="time" id="timer">00:00</div>
        </div>
        <div class="number-task" id="questionsList"></div>
    </div>
    <div class="container">
        <div class="tasks">
            <div class="task">
                <div id="questionImg" class="task-img"></div>
                <div id="questionText" class="question"></div>
            </div>
            <div class="help">
                <div id="questionSupportBtn" class="prompt"><a>Подсказка</a></div>
                <div class="comment">
                    <div class="comment-img" style="background-image: url(img/comment.png)"></div>
                    <div class="comments"><a href="">Комментариев: 0</a></div>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="answer">
            <div id="answerOptions" class="options"></div>
            <div class="support">
                <div id="questionSupport" class="center">
                    <div class="clarification">Правильный ответ: <span id="answerNum"></span></div>
                    <div class="explanation" id="answerExplanation"></div>
                </div>
            </div>
        </div>
    </div>
</div>
